* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-bottom: 5px solid #6f6f6f;
  gap: 15rem;
}

.nav-logo img {
  height: 10rem;
}

.nav-menu {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 50px;
}

.nav-menu li {
  margin: 0 15px;
}

a {
  text-decoration: none;
  font-size: 1.5rem;
}

.nav-login-cart {
  display: flex;
  align-items: center;
  gap: 45px;
}

.nav-login-cart button {
  margin-right: 15px;
  border: 1px solid #7a7a7a;
  border-radius: 75px;
  color: #515151;
  padding: 10px 30px;
  background: white;
  cursor: pointer;
}

.nav-login-cart img {
  width: 30px;
  height: 30px;
}

.nav-cart-count {
  width: 22px;
  height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -35px;
  margin-left: -55px;
  border-radius: 11px;
  font-size: 14px;
  background: red;
  color: white;
}
